
p1
p2
p3
*.out
*.out
*.out
private_tests/p1/out/test0.out
private_tests/p1/out/test1.out
private_tests/p1/out/test10.out
private_tests/p1/out/test11.out
private_tests/p1/out/test12.out
private_tests/p1/out/test13.out
private_tests/p1/out/test14.out
private_tests/p1/out/test15.out
private_tests/p1/out/test16.out
private_tests/p1/out/test17.out
private_tests/p1/out/test18.out
private_tests/p1/out/test19.out
private_tests/p1/out/test2.out
private_tests/p1/out/test20.out
private_tests/p1/out/test21.out
private_tests/p1/out/test22.out
private_tests/p1/out/test23.out
private_tests/p1/out/test24.out
private_tests/p1/out/test25.out
private_tests/p1/out/test26.out
private_tests/p1/out/test27.out
private_tests/p1/out/test28.out
private_tests/p1/out/test29.out
private_tests/p1/out/test3.out
private_tests/p1/out/test4.out
private_tests/p1/out/test5.out
private_tests/p1/out/test6.out
private_tests/p1/out/test7.out
private_tests/p1/out/test8.out
private_tests/p1/out/test9.out
*.out
*.out
private_tests/p3/out/test6.out
private_tests/p3/out/test5.out
*.out
*.out
*.errors
*.out
